{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block nav_menu %}
<div class="collapse navbar-collapse" id="menu">
    <ul class="navbar-nav ml-auto ">
        <!-- add current-page css for current page  -->
        <li class="navbar-item  px-4 "> <a class="nav-link current-page" id="menu-link" href="{% url 'website:baggage' %}">Excess Baggage</a> </li>
        <li class="navbar-item  px-4"> <a class="nav-link" id="menu-link" href="{% url 'website:pets' %}">Pet Relocation</a> </li>
        <li class="navbar-item  px-4"> <a class="nav-link" id="menu-link" href="{% url 'website:hum' %}">Human Remains</a> </li>
        <li class="navbar-item  px-4"> <a class="nav-link" id="menu-link" href="{% url 'website:contact' %}">Contact us</a> </li>
    </ul>
</div>
{% endblock %}
{% block main %}
<!-- Advert image  -->
<div class="container-fluid">
    <div class="bag-advert-image">
    </div>
</div>
<!--      breadcrumbs-->
<nav aria-label="breadcrumb" class="breadcrump">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'website:home' %}">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Excess Baggage</li>
    </ol>
</nav>
<!--    main section -->
<section id="bag-section">
    <div class="container">
        <h1>Excess Baggage</h1>
        <p>Tip tip doner landjaeger pig pig swine loin beef turducken. Ham boudin ribeye
            ham tri-tip ham cow chop tenderloin cow ham ham beef sausage ham steak pig
            biltong tip t-bone. Strip kielbasa cow beef beef. Ham round pork pig leberkas
            tip cow fatback ham sausage, tenderloin strip ham drumstick bregenwurst, chicken
            chuck ribeye tip salami. Cow jerky frankfurter, cow ham pork ribs jerky. Chop
            ham tip jerky venison, biltong tongue tail sirloin round pig leberkas cow pork
            prosciutto pig loin andouille chicken. Drumstick ham shank fatback ham round ham
            tenderloin pig hock shoulder ham pancetta, hock kielbasa sopressata, pork
            tri-tip ham loin pork, chop prosciutto cow short beef, tip drumstick pig sausage
            ham landjaeger pork pancetta leberkas.</p>
    </div>

    <div class='bag-svg-container'>
        <img src="{% static 'website/img/diagram.svg' %}" alt="">
    </div>

    <div class="container alert-container">
        <div class="row">
        <div class="alert alert-success show" role="alert">
  This is a success alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
</div>
</div>
    </div>

    <div class="container d-flex justify-content-center pb-5 pt-2 bag-enq-form" style="background: #7ac8aa;" >
        <form id="bag-booking" method="POST" >
            {% csrf_token %}

            <div class="container form-container">
                <h4 style="text-align: center; text-decoration-style:solid;">Excess Bagagge enquiry form</h4>
                <hr>
                <div class="row">

                    <div class="form-group col-sm-6">
                        {{ bagform.fullname|as_crispy_field }}
                    </div>
                    <div class="form-group col-sm-3">
                        {{ bagform.email|as_crispy_field }}
                    </div>
                    <div class="form-group col-sm-3">
                        {{ bagform.mobile|as_crispy_field }}
                    </div>

                </div>
                <div class="row">
                    <div class="form-group col-sm-6">
                        {{ bagform.destination_country|as_crispy_field }}
                    </div>
                    <div class="form-group col-sm-6">
                        {{ bagform.destination_city|as_crispy_field }}
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-6">
                        {{ bagform.origin_country|as_crispy_field }}
                    </div>
                    <div class="form-group col-sm-6">
                        {{ bagform.origin_city|as_crispy_field }}
                    </div>
                </div>
                <hr>
                <div class="container d-flex justify-content-between">
                    <h5> Enter the baggage details </h5>
                    <fieldset disabled>
                        <select class="form-control">
                            <option>units:cm &amp kg</option>
                        </select>
                    </fieldset>
                </div>
                <hr>
                <div class="row">
                    <div class="container d-flex justify-content-end" style="margin-bottom: 15px">
                        <button type="button" id="add-item" style="margin-right: 15px;"><i class="fas fa-plus"></i></button>
                        <button type="button" id="remove-item"><i class="fas fa-minus"></i></button>
                    </div>
                    <div>
                               {{ bagform.baggage_detail|as_crispy_field }}
                    </div>
                    <div class="container" id="bag-detail">
                        <!--                   insert starts here -->
                        <div class="container form-val" style="padding: 0px">
                            <div class="form-group row bag-inner">
                                <div class="col-sm-4 ">
                                    <input type="text" class="form-control" id="baggage-type" placeholder="Eg.box or suitcase or bag etc...">
                                </div>
                                <div class="col-sm-2">
                                    <input type="number" class="form-control" id="length" placeholder="length">
                                </div>
                                <div class="col-sm-2">
                                    <input type="number" class="form-control" id="width" placeholder="width">
                                </div>
                                <div class="col-sm-2">
                                    <input type="number" class="form-control" id="height" placeholder="height">
                                </div>
                                <div class="col-sm-2">
                                    <input type="number" class="form-control" id="weight" placeholder="weight">
                                </div>
                            </div>

                        </div>
                    </div>
                    <!--                   ends here -->
                </div>
                <div class="container form-holder" style="padding: 0px">
                </div>
                <div class="container d-flex justify-content-end">
                    <input class="btn btn-primary" type="submit" value="Get Quote">
                </div>
            </div>

        </form>
            </div>


</section>

{% endblock %}
{% block js_link %}
<script type="text/javascript" src="{% static 'website/js/baggage.js' %}"> </script>
{% endblock %}
