<!DOCTYPE html>
<html>
<head>
    <title>test</title>
</head>
<body>

    <form method="POST" id="sample-form">
        {% csrf_token %}
        <input type="submit" value="submit" name="test" id='ajax-submit'>
    </form>

<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>

<script type="text/javascript">

    $(function(){

        $("#sample-form").submit(function(e){

            e.preventDefault();

            var c = $("input[type='hidden']").val()

            $.ajax({
            url:"/test",
            type: "POST",
            data: c,
            datatype: "json",
            success:function(data){
                alert('sucess');
            }

        });
         return false;


        });
    });


</script>

</body>
</html>
